<div class="order__list white-bg table-responsive" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Titre</th>
        <th scope="col">Prix (€)</th>
        <th scope="col">Remise (€)</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let course of courses | paginate: { itemsPerPage:itemsPerPage, currentPage: p, totalItems: totalItems };let i=index;">
        <td>{{(p-1) * 5 + i + 1}}</td>
        <td class="order__id">{{course?.title}}</td>
        <td>{{course?.cost}}</td>
          <td>{{course?.discount}}</td>
          <td><i class="fa-regular fa-eye mr-10"></i> <i class="fa-regular fa-edit mr-10" (click)="editCourse(course)" data-bs-toggle="modal" data-bs-target="#course_modal"></i><i class="fa-regular fa-trash-can"(click)="delete(course?.id)"></i> </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="changePage(p=$event)"   previousLabel=""
                      nextLabel=""></pagination-controls>
  </div>
</div>

<div class="profile__edit-modal">
  <!-- Modal -->
  <div class="modal" id="course_modal" tabindex="-1" aria-labelledby="course_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <app-add-course></app-add-course>
      </div>
    </div>
  </div>
</div>
